.nav-container {
  padding: 10px;
  background: $color0;

  nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        font-family: $font2;
        font-size: 1.2rem;
        color: $color7;
        letter-spacing: 1px;
      }
    }
    .rigth-part {
      min-width: 280px;
      justify-content: flex-end;

      .btn-1 {
        margin-left: 10px;
      }
    }
    .nav-btn {
      font-family: $font2;
      color: $color7;
      border: 1px solid $color7;
    }
  }
}
