.search-bar {
    display: flex;
    align-items: center;
    width: 600px; // Ajustez la largeur selon vos besoins
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px; // Ajustez le rayon de bordure selon vos besoins

  
    select {
      width: 150px; // Ajustez la largeur selon vos besoins
      margin-right: 10px;
      border: none;
      background-color: transparent;
    }
  
    input[type="text"] {
      flex-grow: 1;
      border: none;
      background-color: transparent;
      font-size: 16px;
      padding: 5px;
    }
  
    button {
      padding: 5px 10px;
      background-color: #5f12e4;
      color: white;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }
  }
  