.search-bar-container {
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50px;
    // box-shadow: 0 1px 7px rgba(255, 252, 252, 0.554);

    width: 350px;
    input {
      width: 90%;
      margin: 5px;
      padding: 10px;
      border-radius: 50px 0 0 50px;
      font-size: 1.1rem;
      font-family: "DMSerif";
      border: none;
      outline: none;
      border-right: 1px solid $color7;

      &[type="text"] {
        font-family: $font1;
      }
    }
    i {
      padding: 0 18px 0 7px;
    }
  }
}
