
.header-courses-container{
height: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


h2{
    margin-bottom: 20px;
    color: $color7;
}

}

.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 50px;
    gap: 34px;

}

.bottom-wave .shape-fill {
    fill: $color0;
}
@media screen and (max-width: 1052px) {
    .container {
        grid-template-columns: 50% 50%;
    }
}

